{% extends "layouts/base.html" %}
{% load static %}
{% block title %}Search Results{% endblock title %}

{% block stylesheets %}
    <style>
        .bookResultTable {
            width: 80%; 
            margin: 20px auto;
            border-collapse: collapse;
            font-size: 18px;
            text-align: center;
        }
        
        .bookResultTable th, .bookResultTable td {
            border: 1px solid black;
            padding: 12px; 
            text-align: center;
        }

        h2 {
            text-align: center;
            font-size: 24px;
            margin-bottom: 20px;
        }

        p {
            text-align: center;
            font-size: 20px;
        }
    </style>
{% endblock stylesheets %}

{% block content %}
    <h2>Search Results</h2>
        <table class="bookResultTable">
            <thead>
                <tr>
                    <th>Number of Books</th>
                    <th>Total Price</th>
                    <th>Average Price</th>
                    <th>Maximum Price</th>
                    <th>Minimum Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ bookCount }}</td>
                    <td>{{ totalPrice }}</td>
                    <td>{{ averagePrice }}</td>
                    <td>{{ maxPrice }}</td>
                    <td>{{ minPrice }}</td>
                </tr>
            </tbody>
        </table>
{% endblock content %}
