{% extends "layouts/base.html" %}
{% block title %}Edit Book{% endblock title %}

{% block stylesheets %}
<style>
    form {
        width: 400px;
        margin: 20px auto;
    }
    
    label {
        display: block;
        margin: 10px 0;
    }
    
    input, select {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
    }
    
    button {
        background-color: green;
        color: white;
        padding: 5px 10px;
        border: none;
        cursor: pointer;
    }

    .errorlist {
        color: red;
        list-style: none;
        padding: 0;
        margin: 5px 0;
    }
</style>
{% endblock stylesheets %}

{% block content %}
<div>
    <h3>Edit Book</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div>
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
            <ul class="errorlist">
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit">Update Book</button>
    </form>
</div>
{% endblock content %}
